/* header.component.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
}

header .logo h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a.active {
  text-decoration: underline;
}


/* footer.component.css */
footer {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  margin-top: 20px;
  font-size: 14px;
}

footer p {
  margin: 0;
}
